@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Merriweather+Sans&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

img{
    width: 30px;
    height: 30px;
}

.wrapper{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 3fr 15fr 1fr;
}

header{
    grid-area: 1/2/2/3;
    background-color: white;
}

.dashboard{
    grid-area: 1/1/3/2;
    background-color: #509AE7;
}

.dashboardWrapper{
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-top: 20px;
}

.dashboardWrapper>:nth-child(1){
    margin-bottom: 20px;
}

.dashboardWrapper>:nth-child(7){
    margin-bottom: 20px;
}

.dashElements{
    display: grid;
    grid-template-columns: 20% 80%;
    align-content: center;
    gap: 30px;
}

.dashboardWrapper>div:hover:not(:nth-child(1)){
    background-color: #4689d1;
}

.dashboardLogo{
    scale: 1.5 ;
}

.dashLogo>img{
    position: relative;
    left: 20px;
}
.text{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

footer{
    grid-area: 3/1/4/3;
    background-color: black;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0px 40px
}

.search{
    display: flex;
    padding-top: 8px;
    gap: 20px;
}

.left{
    display: flex;
}

.searchIcon{
    width: 50px;
    align-self: flex-end;
    padding-top: 10px;
}

input{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(235 235 235);
}

.right{
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
}

.right>*{
    height: 50px;
}

.notificationIcon{
    text-align: right;
}

.notificationIcon>img{
    width: 25px;
    height: 25px;
}

.logo{
    text-align: center;
}

.logo>img{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 7px;
}

.name{
    position: relative;
    top: 7px;
}

.profile{
    display: flex;
}

.nameDetails{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2,50%);
}

.nameDetails>*{
    display: flex;
    align-items: center;
}

.bigLogo>img{
    width: 70px;
    height: 70px;
}


.bigLogo{
    justify-content: center;
    grid-area: 1/1/3/2;
    justify-items: center;
}

.buttons{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.buttons>*:hover{
    background-color: #4689d1;
}

button{
    width:125px;
    height:50px;
}

.common{
    border: none;
    border-radius: 25px;
    background-color: #509AE7;
}

main{
    display: grid;
    grid-template-columns: 75% 25%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3 ,minmax(100px,1fr));
    grid-template-rows: 0.5fr 5fr 5fr;
    padding: 10px;
    gap: 30px;
}

.cards>div:not(:nth-child(1)){
    display: grid;
    grid-template-rows: 1fr 3fr .7fr;
}

.mainHeading, .mainContent{
    background-color: gold;
    display: flex;
    padding: 20px 20px 0px 30px
}

.mainHeading{
    align-items: center;
}

.mainButtons{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.mainButtons>*{
    display: flex;
    width: 3rem;
    align-items: center;
    border: none;
    background-color: white;
    justify-content: center;
    transition: 500ms;
}

button>img{
    height: 20px;
    width: 20px;
}

.mainButtons>button:hover{
    background-color: lightgray;
}

.announcements{
    display: grid;
    grid-template-rows: .5fr 5fr .5fr 5fr;
    gap: 10px;
    padding: 10px;
}

.announcementHeading, .trendingHeading{
    height: 50px;
    display: flex;
    align-items: center;
}
.announcementContent>div{
    display: flex;
    align-items: center;
}


.announcementContent{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

hr{
    height: 1px;
}

.trendingContent{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    gap: 10px;
}

.trendingContent>div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2,50%);
    gap: 5px;
}

.trendingProfiles>*{
    display: flex;
    align-items: center;
}

.trendingProfiles>*:not(:nth-child(1)){
    height: 20px;
}

.trendingLogo{
    grid-area: 1/1/3/2;
}

.trendingLogo>img{
    width: 60px;
    height: 60px;
}

.trendingUser{
    grid-area: 1/2/2/3;
    align-self: flex-end;
}

.trendingLogo{
    justify-content: center;
}

.trendingPost{
    grid-area: 2/2/3/3;
}

.cards>:nth-child(1){
    grid-area: 1/1/2/4;
    background-color: rgb(235 235 235);
    box-shadow: 0px 0px;
    display: flex;
    align-items: flex-end;
}

.cards>*{
    box-shadow: 3px 3px 4px 0px rgba(104, 101, 101, 0.5);
    border-radius: 5px;
    padding: 1px;
    /*background-color: rgb(240, 193, 76);*/
}

main{
    background-color: rgb(235 235 235);
}

/* Font Section */

.content{
    font-family: 'Manrope', sans-serif;
}

.heading{
    font-family: 'Merriweather Sans', sans-serif;
}




